.nav-bar{
  display: flex;
}
h2 {
  padding: 5px;
}
.bio {
  display: flex;
  padding: 10px;
}
.photo {
  height: 350px;
  width: 350px;
  padding: 5px;
}
.youtube {
  height: 350px;
  width: 500px;
  padding: 5px;
}
.logo {
  height: 100px;
  width: 100px;
  padding: 10px;
}
.unit {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center; 
}